@model Online_Quiz_Platform.Models.Entities.Register

<h2>Register</h2>

<form asp-action="Index" method="post">
    <div class="mt-4">
        <label>Email:</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="mt-4">
        <label>Name:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mt-4">
        <label>Password:</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="mt-4">
        <label>Confirm Password:</label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div> 
    <button type="submit" class="btn btn-primary mt-3">Register</button>
</form>
